# Entorno virtual
.venv/
venv/

# Archivos compilados
__pycache__/
*.pyc

# Coverage
.coverage
htmlcov/

# Variables de entorno
.env

# VSCode
.vscode/

# Base de datos
*.db
*.sqlite
*.sqlite3
fitlife.db